<div class="qa-form">
  <el-form ref="showForm" :model="showForm">
    <el-input
      placeholder="请输入内容"
      v-model="showForm.keyword"
      @keyup.enter.native="search"
      clearable
    >
      <template #prepend>
        <el-select v-model="showForm.matchtype">
          <el-option label="精确搜索" value="precise"></el-option>
          <el-option label="模糊搜索" value="fuzzy"></el-option>
        </el-select>
      </template>
      <template #append>
        <el-button icon="el-icon-search" @click="search"></el-button>
      </template>
    </el-input>
    <div class="search-terms">
      <el-select
        v-model="showForm.value2"
        placeholder="项目阶段"
        size="small"
        :disabled="optionQuestion"
        @change="questionSearch"
        filterable
        clearable
      >
        <el-option
          v-for="item in qaPhase"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
      <el-select
        v-model="showForm.value3"
        placeholder="报告期"
        size="small"
        :disabled="optionQuestion"
        @change="questionSearch"
        filterable
        clearable
      >
        <el-option v-for="item in pickerOptions" :key="item" :value="item">
        </el-option>
      </el-select>
      <el-switch
        v-model="showForm.value4"
        active-text="问答模板"
        @change="questionSearch"
        :disabled="optionQuestion"
      ></el-switch>
      <el-button @click="resetForm('showForm')" class="reset" size="medium"
        >重置</el-button
      >
    </div>
  </el-form>
</div>
