<div class="qa-form">
  <el-form ref="showForm" :model="showForm">
    <el-input
      placeholder="请输入内容"
      v-model="showForm.input"
      class="input-with-select"
      @keyup.enter.native="questionSearch"
      clearable
    >
      <el-button
        slot="append"
        icon="el-icon-search"
        @click="questionSearch"
        clearable
      ></el-button>
    </el-input>

    <el-input
      placeholder="请输入内容"
      v-model="showForm.input"
      @keyup.enter.native="search"
      clearable
    >
      <template #prepend>
        <el-select v-model="select" placeholder="请选择">
          <el-option label="订单号" value="2"></el-option>
          <el-option label="用户电话" value="3"></el-option>
        </el-select>
      </template>
      <template #append>
        <el-button icon="el-icon-search" @click="search"></el-button>
      </template>
    </el-input>

  </el-form>
</div>
