<!-- 题目搜索框开始 -->
<div style="height: 100%;">
  <el-tabs v-model="activeName" class="qaModel" @tab-click="removeCurRow()" >
    <!-- 问题tab -->
    <el-tab-pane label="选择问题" name="first">
    </el-tab-pane>

    <!-- 答复tab -->
    <el-tab-pane label="选择答复" name="second" disabled>

    </el-tab-pane>

    <div>
      <el-drawer
        title="已选问答"
        :visible.sync="resultChoseDrawer"
        direction="rtl"
        :append-to-body="true"
        class="qaChoseDrawer"
        :show-close="false"
      >
        <qaTable
          :columns="selectTempList"
          @sendData="deleteRow"
        ></qaTable>
      </el-drawer>
    </div>
  </el-tabs>
</div>
